a {
	color: #f9f752;
}

.offer_help_text {
color: black;
}

.offerlst {
    border: 1px solid transparent;

	background-color: transparent;
	padding: 20px;
	border-radius: 8px;
	min-height: 80px;
	margin-bottom: 8px;
	font-size: 16px;
}

.each_p_elm {
	margin: 3px 0;
	padding: 3px;
	white-space: nowrap;
}


.main {
	max-width: 960px;
	margin: 0 auto;
}
.top_head_text {
	color: white;
	font-size: 25px;
}
.header {
	text-align: center;
	padding-top: 50px;
	text-align: center;
	padding-bottom: 50px;
}
.header img {
	max-width: 100%;
}
.clearfix {
	clear: both;
}
.download-button {

}
.dl_button{
width:100%;
height: 50px;
border-radius: 5px;
background: #B62121;
background: -moz-linear-gradient(top,  #B62121 0%, #207ce5 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B62121), color-stop(100%,#207ce5));
background: -webkit-linear-gradient(top,  #499bea 0%,#207ce5 100%);
background: -o-linear-gradient(top,  #B62121 0%,#207ce5 100%);
background: -ms-linear-gradient(top,  #B62121 0%,#207ce5 100%);
background: linear-gradient(to bottom,  #B62121 0%,#9F1818 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 );
border: 1px solid #D03131;
font-size:25px;
}

.dl_button:hover{
background: #A81B1B;
background: -moz-linear-gradient(top,  #207ce5 0%, #499bea 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#207ce5), color-stop(100%,#499bea));
background: -webkit-linear-gradient(top,  #A81B1B 0%,#499bea 100%);
background: -ms-linear-gradient(top,  #207ce5 0%,#499bea 100%);
background: linear-gradient(to bottom,  #A81B1B 0%,#A81B1B 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207ce5', endColorstr='#499bea',GradientType=0 );
border: 1px solid #D03131;
 }
.dl_button img {
	vertical-align: middle;
	margin-left: 2%;
	margin-top: -5px;
}
.hide-div {

}
.show-div {
	margin-top: 20px;
}

.half-content {
	width: 48%;
	margin-bottom: 30px;
}
.full-content {
	margin-bottom: 30px;
}
.content {
	width: 100%;
	margin-bottom: 10px;
}
.full-button {
}

.link_a img {
	vertical-align: middle;
	margin-left: 1%;
	margin-top: -3px;
}

.link_a, .link_a:link {
 width:100%;
 background: #D03131; / Old browsers /
 background: -moz-linear-gradient(top, #D03131 0%, #D03131 100%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #499bea), color-stop(100%, #207ce5));
 background: -webkit-linear-gradient(top, #D03131 0%, #D03131 100%);
 background: -o-linear-gradient(top, #D03131 0%, #A01818 100%);
 background: -ms-linear-gradient(top, #A01818 0%, #C82828 100%);
 background: linear-gradient(to bottom, #A01818 0%, #C82828 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0 );
 border: 1px solid #C82828;
 color: #fff;
 border-radius: 4px 4px 4px 4px;
 box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
 cursor: pointer;
 display: inline-block;
 font-size: 14px;
 line-height: 20px;
 margin-bottom: 0;
 padding: 4px 12px;
 text-align: center;
 text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
 vertical-align: middle;
 font-weight: normal;
 text-decoration: none;
}
.link_a:hover {
 background: #2E8B57;
 background: -moz-linear-gradient(top, #2E8B57 0%, #57A278 100%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2E8B57), color-stop(100%, #499bea));
 background: -webkit-linear-gradient(top, #2E8B57 0%, #57A278 100%);
 background: -ms-linear-gradient(top, #2E8B57 0%, #57A278 100%);
 background: linear-gradient(to bottom, #2E8B57 0%, #57A278 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2E8B57', endColorstr='#499bea', GradientType=0 );
 border: 1px solid #57A278;
 transition: background-position 0.1s linear 0s;
}

@media screen and (max-width: 980px) {
	.main {
		padding-left: 2%;
		padding-right: 2%;
	}
	.file-name {
		font-size: 18px;
	}
	.file-size {
		font-size: 23px;
	}
	.file-value {
		font-size: 12px;
	}
	.dl_button {
		font-size: 25px;
	}
	.dl_button img {
		width: 10%;
	}
	.content-hero {
		font-size: 18px;
	}
	.link_a {
		font-size: 11px !important;
	}
	.link_a img {
		width: 8%;
	}
	.section-text-hero {
		font-size: 40px;
	}
	.section-text-zero {
		font-size: 13px;
	}
}

@media screen and (max-width: 900px) {
	.link_a {
		font-size: 10px !important;
	}
}
@media screen and (max-width: 850px) {
	.link_a {
		width: 100%;
	}
	.jumbotron-left {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}
	.jumbotron-right {
		display: none;
	}
	.step-section {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		margin-bottom: 25px;
	}
	.footer-left {
		width: 100%;
		text-align: center;
		margin-left: 0;
		margin-right: 0;
	}
	.footer-right {
		width: 100%;
		text-align: center;
		margin-left: 0;
		margin-right: 0;
	}
	.header {
		padding-bottom: 15px;
	}
	.file-hero {
		text-align: center;
	}
}

@media screen and (max-width: 800px) {
	.steps-hero {
		font-size: 25px;
	}
	.comment-hero {
		font-size: 23px;
	}
	.commenter-name {
		font-size: 20px;
	}
}

@media screen and (max-width: 600px) {
	.link_a {
		font-size: 10px !important;
	}
	.commenter-comment {
		font-size: 13px;
	}
	.comment-hero {
		font-size: 20px;
	}
	.steps-hero {
		font-size: 20px;
	}
	.link_a img {
		margin-left: 1%;
	}
	.content-hero {
		font-size: 16px;
		text-align: center;
	}
	.lead {
		font-size: 12px;
		text-align: center;
	}
	.file-name {
		font-size: 14px;
	}
	.file-size {
		font-size: 20px;
	}
	.file-value {
		font-size: 11px;
	}
	.file-text {
		margin-top: 15px;
	}
}

@media screen and (max-width: 550px) {
	.link_a {
		font-size: 9px1important;
	}
	.dl_button {
		font-size: 17px;
	}
	.jumbotron-left {
		margin-left: 2.5%;
		margin-right: 2.5%;
		width: 95%;
	}

}
@media screen and (max-width: 450px) {
	.jumbotron-left {
		width: 95%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
	.section-text-hero {
		font-size: 30px;
		margin-bottom: -7px;
	}
	.file-text {
		margin-top: 0px;
	}
	.file-name {
		font-size: 11px;
	}
	.file-size {
		font-size: 15px;
		margin-top: 0px;
	}
	.link_a img {
		display: none;
	}
}

a:hover, a:focus {
	color: #FFFFFF;
	text-decoration: underline;
}